<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.0/dist/vue.global.js"></script>
    <script src="./dist/datav.js"></script>
</head>

<body>
    <div id="app">
        <Loading v-if="!isLoading">数据大屏加载中……</Loading>
        <container v-if="isLoading" :options="{width: 3840, height: 2160}">
        </container>
    </div>
    <script>
        Vue.createApp({
            setup() {
                let isLoading = false
                return {
                    isLoading
                }
            }
        }).use(window.datav).mount('#app')
    </script>
</body>

</html>

<style>
    html, body, #app {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #app {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(29, 29, 29);
        font-size: 14px;
        color: #ffffff;
    }
</style>